.e_list {
    flex: 1;
    overflow: scroll;
}

.e_list_settings {
    display: flex;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    justify-content: space-between;
    padding-right: 10px;
    z-index: 999;
}

.e_list_sections {
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    z-index: 999;
}

e.list_list {
    padding-bottom: 20%;
}

e.e_list::-webkit-scrollbar{
    display: none;
}

.e_list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}